body{
    background:rgb(254, 202, 211);
    background-size: cover;
}
.eyes{
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    left: 65px;
}
.eye{
    width: 80px;
    height: 85px;
    background: #fff;
    display: inline-block;
    margin: 29px;
    border: 5px solid#000;
    border-radius: 50%;
    position: relative;
    
}
.ball{
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    
}
 
    

   